
.main-container{
    display: flex;
    background-color: powderblue;
    height: 100vh;
    
}
.header{
    display: flex;
    background-color: royalblue;
    justify-content: space-evenly;
}
.body{
    display: flex;
    background-color: white;
    flex-grow: 1;
    flex-direction: column;
}
.footer{
    display: flex;
    background-color: cornflowerblue;
}
.page{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: white;
}
.car-list{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.car-property{
    display: flex;
}
.car-property > div{
    padding-left: 0.5em;
}
.car-name{
    display: flex;
    flex: 2 0 5em;
    min-width: 5em;
}
.car-year{
    display: flex;
    flex: 1 0 5em;
    min-width: 5em;
}
.car-make{
    display: flex;
    flex: 2 0 5em;
    min-width: 5em;
    word-break: break-all;
}
.car-reg{
    display: flex;
    flex: 2 0 5em;
    min-width: 5em;
}
.header > div{
    padding-left: 0.5em;
}